*{
    margin: 0%;
}
.holder{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box{
    background-color: peachpuff;
    border: 1px solid black;
}
/* Your CSS Code here. */